* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #c6cfd3;
}

body {
  direction: rtl;
  background-color: #262335;
  font-family: SuezOne-Regular;
}

textarea {
  font-family: "Segoe UI";
}

textarea:focus {
  border: 1px solid brown;
}

#DivGame {
  height: 85vh;
  width: 90vw;
  margin-left: 15em;
}

#game {
  border: 0;
  height: 100%;
  left: 0;
  /* position: absolute; */
  top: 0;
  width: 100%;
  padding-right: 19em;
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#grayWindows {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.hide {
  display: none;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: none;
  font-family: Nehama;
  font-size: 15pt;
  width: 100px;
  background-color: lightgoldenrodyellow;
  color: black;
  text-align: right;
  border-radius: 6px;
  padding: 10px;
  /* Position the tooltip */
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.DisButtons {
  background-color: rosybrown;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 10pt;
  font-weight: 600;
  color: white;
  opacity: 0.5;
  transition: 0.4s;
}

.DisButtons:enabled {
  opacity: 1;
  background-color: rosybrown;
  border: none;
  color: white;
}

.DisButtons:enabled:hover {
  background-color: burlywood;
  border: none;
  color: black;
}

/*הגדרות לחלון האפור*/
#grayWindows {
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* @media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 2px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

main {
  display: flex;
  flex-direction: row;
  background-color: #b4a5a5;
}

.side-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 17rem;
  min-height: 100%;
  background-color: #1f1d36;
  border-left: 1px solid #464450;
}

.side-bar .logo-top {
  padding: 1em;
  background-color: #34233c;
}

.side-bar .logo-top img {
  width: 90%;
  height: auto;
}

.side-bar ul {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}

.side-bar ul li {
  margin: 0.5rem 0;
  padding: 0.5em;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.side-bar ul li > * {
  padding: 0 5px;
}

.side-bar ul li a {
  text-decoration: none;
  color: white;
}

.side-bar ul li:hover {
  background-color: #34233c;
}

.side-bar ul li.active {
  border-bottom: 4px solid;
  border-image-slice: 1;
  /* border-width: 4px; */
  /* box-sizing: content-box; */
  border-image: linear-gradient(to right, #fb29a8, #04edf9);
  border-image-slice: 1;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.side-bar ul li.active a {
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #864879;
}

@media (max-width: 768px) {
  .side-bar {
    width: 7.5rem;
  }
  .side-bar .logo-top img {
    display: none;
  }
  .side-bar .logo-top svg {
    width: 80%;
    height: auto;
  }
  .side-bar ul li {
    text-align: center;
    font-size: 1.5rem;
  }

  .side-bar ul span {
    display: none;
  }

  #DivGame {
    margin-left: 7em;
  }
  #game {
    padding-right: 10em;
  }
}

@media (min-width: 769px) {
  .side-bar .logo-top svg {
    display: none;
  }
}

.logo-top {
  text-align: center;
}

.logo-top a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-height: 100vh;
  width: 100%;
}

.main-content .create,
.main-content .load,
.main-content .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div[data-view-active="false"] {
  display: none !important;
  color: black;
}

@media (max-width: 992px) {
  .main-content {
    padding: 1rem !important;
  }
}
