.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchTerm {
  border: 5px solid #cc0055;
  border-right: none;
  padding: 5px;
  outline: none;
  min-width: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: "Poppins", sans-serif;

  &:focus {
    color: #cc0070;
  }
}

.searchButton {
  border: 1px solid #cc0055;
  background: #cc0055;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
