$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$white: #ffffff;

.container-table {
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
  overflow-x: auto;
}

table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  * {
    border: none;
    white-space: initial;
  }

  caption {
    font-weight: bold;
    background-color: #e99bcb;
    padding: 10px;
    color: white;
    position: sticky;
  }

  white-space: nowrap;
  thead tr {
    color: $gray-800;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;

    th {
      background: $gray-200;
      padding: 0.75rem 1.5rem;
      vertical-align: middle;
    }
  }

  tbody {
    tr:nth-child(odd) td {
      background: $white;
    }

    tr:nth-child(even) td {
      background: $gray-200;
    }
    td {
      color: $gray-900;
      text-align: left;
      padding: 1.5rem 1.5rem;
      vertical-align: middle;
      font-size: 1.125rem;
      font-weight: normal;

      img {
        border-radius: 10px;
      }
    }
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
  }

  th:first-child {
    border-top-left-radius: 0.5rem;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
  }

  th:last-child {
    border-top-right-radius: 0.5rem;
  }

  tr > th:first-child,
  tr > td:first-child {
    position: sticky;
    left: 0;
  }
}
